<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-verowa-apiconnector" >
	<tr>
		<td>
			<f:translate key="tx_verowaapiconnector_domain_model_event.event_id" />
		</td>
		<td>
		{event.eventId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_verowaapiconnector_domain_model_event.date_from" />
		</td>
		<td>
		{event.dateFrom}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_verowaapiconnector_domain_model_event.date_to" />
		</td>
		<td>
		{event.dateTo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_verowaapiconnector_domain_model_event.title" />
		</td>
		<td>
		{event.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_verowaapiconnector_domain_model_event.hide_time" />
		</td>
		<td>
		{event.hideTime}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_verowaapiconnector_domain_model_event.short_desc" />
		</td>
		<td>
		{event.shortDesc}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_verowaapiconnector_domain_model_event.long_desc" />
		</td>
		<td>
		{event.longDesc}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_verowaapiconnector_domain_model_event.childcare_id" />
		</td>
		<td>
		{event.childcareId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_verowaapiconnector_domain_model_event.subscribe_date" />
		</td>
		<td>
		{event.subscribeDate}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_verowaapiconnector_domain_model_event.subscribe_time" />
		</td>
		<td>
		{event.subscribeTime}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_verowaapiconnector_domain_model_event.subscribe_person_id" />
		</td>
		<td>
		{event.subscribePersonId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_verowaapiconnector_domain_model_event.baptism_offer_id" />
		</td>
		<td>
		{event.baptismOfferId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_verowaapiconnector_domain_model_event.event_type" />
		</td>
		<td>
		{event.eventType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_verowaapiconnector_domain_model_event.event_state" />
		</td>
		<td>
		{event.eventState}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_verowaapiconnector_domain_model_event.date_text" />
		</td>
		<td>
		{event.dateText}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_verowaapiconnector_domain_model_event.image_url" />
		</td>
		<td>
		{event.imageUrl}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_verowaapiconnector_domain_model_event.subscriptions" />
		</td>
		<td>
		{event.subscriptions}
		</td>
	</tr>
	<tr>
		<td>
			Room Id
		</td>
		<td>
		{event.roomId}
		</td>
	</tr>
	<tr>
		<td>
			Room Name
		</td>
		<td>
		{event.roomName}
		</td>
	</tr>
	<tr>
		<td>
			Room Public Name
		</td>
		<td>
		{event.roomPublicName}
		</td>
	</tr>
	<tr>
		<td>
			Room Location Name
		</td>
		<td>
		{event.roomLocationName}
		</td>
	</tr>
	<tr>
		<td>
			Room Location Url
		</td>
		<td>
		{event.roomLocationUrl}
		</td>
	</tr>
	<tr>
		<td>
			Room Location Url is external
		</td>
		<td>
		{event.roomLocationUrlIsExternal}
		</td>
	</tr>
</table>
</html>
